<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.commin.pro.comminproject">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="25"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".page.main.Page2Main" />
        <activity android:name=".page.signup.Page2Signup" />
        <activity android:name=".page.user.Page2User" />
        <activity android:name=".page.login.Page2Login"></activity>
    </application>

</manifest>