<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="commin.pro.diseasemanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Application"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".page.home.Page2Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.hblood.Page2HighBlood"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.diabetes.Page2Diabetes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.complete.Page2Complete"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.gastritis.Page2Gastritis"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.management.Page2Management"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.calendar.Page2Calendar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.calendar.Dialog2Calendar"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".page.manage_highblood.Page2Manage_Highblood"></activity>
    </application>

</manifest>